@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
}

header {
  height: 300px;
}

.header-hero img {
  width: 100%;
}

.mobile-bg {
  display: none;
}

.company-logo {
  width: 100px;
  margin: 0 auto;
  position: relative;
  bottom: 70%;
}

.header-text {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  padding: 20px 0;
  color: hsl(210, 10%, 33%);
}

.header-text p {
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 24px;
  color: hsl(201, 11%, 66%);
}

.download-links {
  list-style: none;
  width: 40%;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.download-links li {
  margin-top: 25px;
  text-decoration: none;
  text-align: center;
  padding: 12px 24px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.download-links li:first-of-type {
  background-color: hsl(171, 66%, 44%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.download-links li:first-of-type:hover {
  box-shadow: hsla(171, 66%, 44%, 0.822) 0px 13px 27px -35px, hsla(171, 66%, 44%, 0.774) 0px 8px 16px -8px;
}

.download-links li:last-of-type {
  background-color: hsl(233, 100%, 69%);
}

.download-links li:last-of-type:hover {
  box-shadow: hsl(233, 100%, 69%) 0px 13px 27px -35px, hsl(233, 100%, 69%) 0px 8px 16px -8px;
}

.download-links a {
  color: white;
  text-decoration: none;
}

.track-section {
  width: 600px;
  margin: 100px auto;

}

.track-section h2 {
  text-align: center;
  font-size: 2rem;
  color: hsl(212, 10%, 33%);
  margin-bottom: 10px;
}

.track-section p {
  font-size: 1rem;
  line-height: 24px;
  color: hsl(201, 11%, 66%);
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  height: 500px;
}

.info-lap,
.info-list {
  width: 50%;
}

.info-lap img {
  width: 100%;
  height: 100%;
}

.info-list {
  list-style: none;
  padding: 0;
  /* margin-right: 10%; */
  margin-left: 10%;
}

.info-list li {
  height: 120px;
  width: 55%;
}

.info-list h3 {
  font-size: 1.3rem;
  color: hsl(210, 10%, 33%);
}

.info-list p {
  font-size: 1rem;
  line-height: 24px;
  color: hsl(201, 11%, 66%);
}

.more h2,
.work-flow h2,
.download h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  color: hsl(210, 10%, 33%);
}

.more p,
.work-flow p,
.more-info p,
.download p {
  font-size: 1rem;
  line-height: 24px;
  color: hsl(201, 11%, 66%);
  text-align: center;
}

.info-tab {
  width: 80%;
  margin: 50px auto 40px auto;
}

.info-tab img {
  width: 100%;
}

.work-flow {
  width: 80%;
  margin: 50px auto 40px auto;
}

.more-info {
  display: flex;
  width: 80%;
  margin: 50px auto;
  list-style: none;
  padding: 0;
  align-items: flex-start;
  justify-content: space-around
}

.more-info li {
  width: 30%;
  display: inline-grid;
  justify-items: center;
}

.more-info img {
  margin: 30px 0;
}

.more-info h3 {
  font-size: 1.2rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 10px;
}

.companies {
  list-style: none;
  padding: 0;
  width: 80%;
  margin: 120px auto;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.download {
  width: 40%;
  margin: 0 auto;
}

footer {
  background-color: #F5F6F8;
  padding: 40px 0 10px 0;
  text-align: center;
}

.footer-logo {
  width: 10%;
}

.footer-logo img {
  height: 70px;
}

.foot {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.foot ul {
  list-style: none;
  padding: 0;
}

.more-guild {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  gap: 10px;

}

.our-socials {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.our-socials img {
  width: 30px;
}

footer a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  font-weight: bold;
}

footer a:hover {
  color: hsl(171, 66%, 44%);
}

@media(max-width:1097px) {
  .company-logo {
    bottom: 50%;
  }

  .companies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .download {
    width: 80%;
  }
}

@media(max-width: 986px) {
  .company-logo {
    bottom: 60px;
  }

  .download-links {
    width: 60%;
  }

  .our-socials {
    width: auto;
  }

}

@media(max-width: 677px) {
  header {
    height: 20%;
  }

  /* main {
    height: 1350px;
  } */

  .company-logo {
    margin-top: 20px;

  }

  .header-text {
    width: 100%;
  }

  .track-section {
    width: 100%;
    margin: 10% auto;
  }

  .download-links {
    width: 80%;
    display: block;
  }

  .info {
    flex-direction: column;
    height: auto;
  }

  .info-lap,
  .info-list {
    width: 85%;
    margin: 40px auto;
  }

  .info-list li {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .more-info {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    /* flex-direction: column; */
    align-items: center;

  }

  .more-info li {
    width: 80%;
    margin: 20px 0;
  }

  .companies {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .foot {

    flex-direction: column;
  }

  .footer-logo {
    margin: 30px 0;
    width: auto;
  }

  .foot ul {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }

  .our-socials {
    width: 50%;
    margin: 30px;
  }

  .our-socials img {
    width: 30px;
  }
}

@media(max-width:400px) {
  .desktop-bg {
    display: none;
  }

  .mobile-bg {
    display: block;
  }
}
