@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
}

header {
  height: 300px;
}

.header-hero img {
  width: 100%;
}

.mobile-bg {
  display: none;
}

.company-logo {
  width: 100px;
  margin: 0 auto;
  position: relative;
  bottom: 70%;
}

.header-text {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  padding: 20px 0;
  color: hsl(210, 10%, 33%);
}

.header-text p {
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 24px;
  color: hsl(201, 11%, 66%);
}

.download-links {
  list-style: none;
  width: 40%;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.download-links li {
  margin-top: 25px;
  text-decoration: none;
  text-align: center;
  padding: 12px 24px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.download-links li:first-of-type {
  background-color: hsl(171, 66%, 44%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.download-links li:first-of-type:hover {
  box-shadow: hsla(171, 66%, 44%, 0.822) 0px 13px 27px -35px, hsla(171, 66%, 44%, 0.774) 0px 8px 16px -8px;
}

.download-links li:last-of-type {
  background-color: hsl(233, 100%, 69%);
}

.download-links li:last-of-type:hover {
  box-shadow: hsl(233, 100%, 69%) 0px 13px 27px -35px, hsl(233, 100%, 69%) 0px 8px 16px -8px;
}

.download-links a {
  color: white;
  text-decoration: none;
}

.track-section {
  width: 600px;
  margin: 100px auto;

}

.track-section h2 {
  text-align: center;
  font-size: 2rem;
  color: hsl(210, 10%, 33%);
}

.track-section p {
  font-size: 1rem;
  line-height: 24px;
  color: hsl(201, 11%, 66%);
  text-align: center;
}

@media(max-width:1097px) {
  .company-logo {
    bottom: 50%;
  }
}

@media(max-width: 986px) {
  .company-logo {
    bottom: 60px;
  }

  .download-links {
    width: 60%;
  }


}

@media(max-width: 677px) {
  header {
    height: 20%;
  }

  .company-logo {
    margin-top: 20px;

  }

  .header-text {
    width: 100%;
  }

  .track-section {
    width: 100%;
    margin: 10% auto;
  }

  .download-links {
    width: 100%;
    display: block;
  }
}

@media(max-width:400px) {
  .desktop-bg {
    display: none;
  }

  .mobile-bg {
    display: block;
  }
}